body{ background-color: black;
}
h1{ font-size: 100px; color:aliceblue; text-align: center;
}
p{ font-size: 30px; color:red; text-align: center;
}
a:link, a:visited{color: aliceblue; font-size: 50px; 
}
div{ margin-left: 475px;
}